
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("background\ dark.jpeg") center / cover no-repeat;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.navbar .logo img {
    width: 150px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar .links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar .links a:hover {
    color: #19e8ff;
}

#app {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin: 20px 0;
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error {
    color: red;
}